h1 {text-align: center;}
h1{color: white;}
h3 {text-align: center;}
h3 {color: white;}
a {color: white;}
h2 {color: white;}
h2 {text-align: center;}










img { padding: 10px;
 border: 1px solid white;

 box-shadow: 0px 0px 30px white;
 border-color: #FE9A2E;
  }




<style type="text/css">
      html, body {
        height: 50%;
        width: 50%;
      }
      body {
        background: black -webkit-linear-gradient(left, #FE9A2E 0%,#FAAC58 25%, #FAAC58 50%, #FE9A2E 75%, #FAAC58 100%);
        background: black -moz-linear-gradient(right, #FE9A2E 0%, #FAAC58 25%, #FAAC58 50%, #FAAC58 75%, #FE9A2E 100%);
        background: black -ms-linear-gradient(left, #FE9A2E 0%, #FAAC58 25%, #FAAC58 50%, #FAAC58 75%,  #FAAC58 100%);
        background: black -o-linear-gradient(right, #FE9A2E 0%, #FAAC58 25%, #FAAC58 50%, #FAAC58 75%, #FAAC58 100%);
        background: black linear-gradient(left, #FE9A2E 0%, #FAAC58 25%, #FAAC58 50%, #FE9A2E 75%, #FAAC58 100%);
        background-size: 300% 300%;
        	 -webkit-transition: all 2s linear;
        -moz-transition: all 2s linear;
        -ms-transition: all 2s linear;
        -o-transition: all 2s linear;
        transition: all 10s linear;

    }
      body:hover {
        background-position: 100%;
      }

    </style>